    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      font-family: helvetica, arial, sans-serif;
    }
    .banner {
      width: 100%;
      background: #333;
      padding: 8px;
    }

    h1 {
      font-size: 18px;
      color: white;
    }

    .image-holder {
      position: relative;
      width: 1200px;
      margin: 0 auto;
    }
    .image-holder img {
      width: 100%;
    }

    .feed-column {
      width: 640px;
      position: absolute;
      top: 160px;
      left: 90px;
    }

    .refresh-button {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 263px;
      left: 20px;
      cursor: pointer;
    }

    #search {
      position: absolute;
      display: block;
      width: 304px;
      height: 42px;
      right: 115px;
      top: 218px;

    }
    #search .easy-autocomplete {
      width: 100%!important;
    }
    #search input {
      width: 90%;
      border: none;
      font-size: 13px;
      padding: 12px 10px;
      box-shadow: none;
    }
    #search input:focus {
      outline:none;
    }
    #post {
      position: absolute;;
      display: block;
      background: red;
      width: 430px;
      height: 94px;
      left: 240px;
      top: 286px;
    }
    #post textarea {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 14px;
      padding: 12px;
    }
    #post textarea:focus {
      outline: none;
    }
    .post-box-holder {
      position: relative;
    }
    #post-btn {
      position: absolute;
      width: 55px;
      height: 30px;
      bottom: 51px;
      right: 69px;
      cursor: pointer;
    }

    .post {
      height: 131px;
      background: url('../images/post-top.png') center 12px no-repeat;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.04),0px 1px 1px rgba(0,0,0,0.1),0px -1px 1px rgba(0,0,0,0.1);
      border-radius: 5px;
      margin: 8px 16px 60px 16px;
      padding: 72px 18px 24px 98px;
      font-size: 13px;
      position: relative;
    }

    .post:after {
      content: "";
      display: block;
      width: 100%;
      height: 44px;
      background: url('../images/post-bottom.png') center 0 no-repeat;
      position: absolute;
      bottom: -45px;
      right: 0;
    }

    mark {
      background: #FFCD00;
      border-radius: 3px;
      padding: 2px;
    }

    #user {
      position: absolute;
      width: 144px;
      height: 62px;
      top: 486px;
      left: 270px;
      cursor: pointer;
    }
